.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}

#login {
  width: 40%;
  display: inline-block;
  vertical-align: top;
  border-right: 1px solid gray;
  margin: 2%;
}

#create_account {
  width: 40%;
  display: inline-block;
  vertical-align: top;
  margin: 2%;
}
