<form class="add_question" action="/surveys/<%= @survey_id %>/questions" method="post">
  <span>Question: <input name ="prompt" type="text"></span>
  <span><input type="submit" value="Add Question"></span>
</form>

<br>
