<div class="row" id="add_choice">
  <div class="col-md-offset-3" >
    <form class="add_choice" action="/surveys/<%= @survey_id %>/questions/<%= @question_id %>/choices" method="post">

      <div>Choice: <input name ="choice" type="text"></div><br>
      <div class="another_choice"><button type="submit" class="btn btn-primary btn-xs add_c">Add Choice</button></div>
    </form><br>

    <form class ="another_q" action="/surveys/<%= @survey_id %>/another_q" method="post">
      <button class="btn btn-primary btn q_button">Add Another Question</button>
    </form>
  </div>
</div>

