<div class="row" id="add_question">
  
  <form class="add_question" action="/surveys/<%= @survey_id %>/questions" method="post">
    <span>Question: <input name ="prompt" type="text"></span>
    <span class="add_q"><button type="submit" class="btn btn-primary btn">Add Question</button></span>
  </form>

  <br>
</div>

