 <form id="add_question" action="/surveys/<%= @id %>/questions/new" method="post">
  <div>Question: <input name ="prompt" type="text"></div>
  <div>Choice 1: <input name ="choice_1" type="text"></div>
  <div>Choice 2: <input name ="choice_2" type="text"></div>
  <div>Choice 3: <input name ="choice_3" type="text"></div>
  
  <div><input type="submit" value="Add Question"></div>
</form>


