<div class="container" >
  <h1> Create Survey </h1> 

  <form id="create_survey" name="create_survey" action="/surveys" method="post">
    <span> Survey Name: <input name="name" type="text"></span>
    
    <button type="submit" id="save_survey" class="btn btn-primary">Create ?uest</button> 
  </form>
  <br>
  
  <div class="col-md-6">
    <span><a id="done" href="/dashboard"><button id="btn_im_done" type="button" class="btn btn-success">I'm Done!</button></a></span><br>
  </div>
</div>
