<div class="container">
  <h1> Create Survey </h1> 
  <!-- remember to insert the user name in title -->

<!--   <button>Create Survey!</button> -->

  <form id="create_survey" name="create_survey" action="/surveys" method="post">
    <div> Survey Name: <input name="name" type="text"></div>
    <div><input id="save_survey" type="submit" value="Create Survey"></div>
<<<<<<< HEAD

  </form>

  <a href="/dashboard"><button>Done with Survey</button></a>
  <form id="create_survey" action="/surveys" method="post">
    <p> Survey Name: <input name="name" type="text"></p>
    <p>Question: <input name ="prompt" type="text"></p>
    <p>Choice 1: <input name ="choice_1" type="text"></p>
    <p>Choice 2: <input name ="choice_2" type="text"></p>
    <p>Choice 3: <input name ="choice_3" type="text"></p>
    <p><input type="submit" value="Add Question"></p>
=======
>>>>>>> dynamic forms using ajax w/o end button
  </form>

</div>
