<div class="container" >
  <h1> Start Your ?uest </h1> 

  <form id="create_survey" name="create_survey" action="/surveys" method="post">
    <span> ?uest Name: <input name="name" type="text"></span>
    
    <button type="submit" id="save_survey" class="btn btn-primary">Create ?uest</button> 
  </form>
  <br>
  
  <div class="col-md-6">
    <a id="done" href="/"><button id="btn_im_done" type="button" class="btn btn-success">I'm Done!</button></a><br>
  </div>
</div>