<div class="container">
  <h1> Create Survey </h1> 
  <!-- remember to insert the user name in title -->

<!--   <button>Create Survey!</button> -->

  <form id="create_survey" name="create_survey" action="/surveys" method="post">
    <div> Survey Name: <input name="name" type="text"></div>
    <div><input id="save_survey" type="submit" value="Create Survey"></div>
  </form>
</div>
