<div class="container">

  <h1>Dashboard</h1>

  <a href="/surveys/new">Create New Survey</a>

  <h3>Surveys You Created</h3>
    <% if @user.surveys %>
      <% @user.surveys.each do |survey| %>
        <a href="/surveys/<%=survey.id%>"><%= survey.name %></a><br>
      <% end %>
    <% end %>

  <h3>Surveys You Can Take</h3>
  <div>
    <% @all_surveys.each do |survey| %>
      <% unless survey.user_id == @user.id %>
        <a href="/surveys/<%=survey.id%>"><%= survey.name %></a><br>
      <% end %>
    <% end %>
  </div>

</div>


