<div class="container">

  <h1> Welcome to GULC </h1>

    <div id="login">
      <h3>Login</h3>
      <form action="/login" method="post">
        <label for="email">Email</label><input type="text" name="email" /><br>
        <label for="password">Password</label><input type="text" name="password" /><br><br>
        <input type="submit" value="Login" />
      </form>
    </div>

  <div id="create_account">
    <h3>Sign up</h3>
    <form id="create_form" action="/create" method="post">
      <label for="name">Name</label><input class='name' type="text" name="name" /><br>
      <label for="email">Email</label><input class="email" type="text" name="email" /><br>
      <label for="password">Password</label><input type="text" name="password" /><br><br>
      <input type="submit" value="Create Account" />
    </form>
  </div>
    
  <div><ul id="errors"></ul></div>

</div>

