<!DOCTYPE html>
<html lang="en">
<head>
  <!-- 
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-wip/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
  <script src="/js/user_account.js"></script>

  <title></title>
</head>
<body>
   <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0-wip/js/bootstrap.min.js"></script>
<!-- Conditional Navbar -->
  
  <div class="navbar navbar-fixed-top">
    
    <a class="navbar-brand " href="/" style="margin-left:55px;"><em>?uestify</em></a>
    <div style="margin-right:65px;">
    <% if @user.nil? %>
      <form class="navbar-form pull-right" action="/login" method="post">
        <input type="text" class="form-control" style="width: 200px;" name="email" placeholder="email"  >
        <input type="password" class="form-control" style="width: 200px;" name="password" placeholder="password"  >
        <button type="submit" class="btn btn-default btn">Login</button>
       <!--  <input type="submit" value="Login"></input> -->
      </form>
    <%else%>

      <form class="navbar-form pull-right" action="/logout" method="get">
        <button type="submit" class="btn btn-default btn">Logout</button>
        <!-- <input type="submit" value="Logout"></input> -->
      </form>
    <% end %>
    </div>
  </div>
<!-- Conditional Navbar -->

  <%= yield %>
</body>
</html>
